
<h1><%= @user.profile.user_name %></h1>
<h2>Location:</h2>
<h3><%= @user.profile.location %></h3>
<h2>Favorite Team:</h2>
<h3><%= @user.profile.favorite_team %></h3>
<h2> Bio: </h2>
<h3><%= @user.profile.description %></h3>
<h2> Drafting Strategy: </h2>
<h3><%= @user.profile.strategy %></h3>
