<%= form_for(@pick) do |f| %>
  <% if @pick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pick.errors.count, "error") %> prohibited this pick from being saved:</h2>

      <ul>
      <% @pick.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :choose_team %><br>
    <%= f.collection_select :category_id, Category.all, :id, :team, { promt: "Choose a Team" } %>
  </div>

  <div class="field">
    <%= f.label :player %><br>
    <%= f.text_field :player %>
  </div>
  <div class="field">
    <%= f.label :share_a_draft_pick_or_idea %><br>
    <%= f.text_area :idea %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
