<!--<div class="text-center"> -->
  <h1>Latest Blurbs</h1>
    <%= link_to 'New Pick', new_pick_path, class: "btn btn-primary" %>
    
  
  </br>
  
  
  
  <%  @picks.each do |pick| %>
    <%= content_tag(:div, class: 'blurb') do %>
        <%= content_tag(:div, class: 'teams') do %>
         <%= pick.category.team %>
        <% end %>
        <%= content_tag(:div, class: 'players') do %>
          <%= pick.player %></br>
        <% end %>
        <%= content_tag(:div, class: 'ideas') do %>
          <%= pick.idea %></br>
        <% end %>
        
        <%= content_tag(:div, class: 'text-center') do %>
          <%= link_to 'Show', pick %>
            <% if pick.user == current_user %>
            <%= link_to 'Edit', edit_pick_path(pick) %>
            <%= link_to 'Destroy', pick, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        <%end%>
        </br>
        </br>
        </br>
    <% end %>
      </br>
      </br>
      </br>
  <% end %>
  


