
    
    <% if user_signed_in? %>
       <!-- show edit profile links and other streaming stuff
        -->
        <% if current_user.profile %>
            <%= link_to "Edit your profile", edit_user_profile_path(current_user) %>
            <%= link_to "View your profile", user_path(current_user) %>
                <!--<div class="text-center"> -->
           <!--<div class="text-center"> -->
        <div class="text-center">
          <h1>LATEST BLURBS</h1>
        </div>
    
  
  </br>
  
  
  
  <%  @picks.each do |pick| %>
    <%= content_tag(:div, class: 'well col-md-4 col-md-offset-4') do %>
      
        
        <%= content_tag(:div, class: 'teams') do %>
         <%= pick.category.team %>
        <% end %>
        <%= content_tag(:div, class: 'players') do %>
          <%= pick.player %></br>
        <% end %>
        <%= content_tag(:div, class: 'ideas') do %>
          <%= pick.idea %></br>
        <% end %>
                  <div class="text-center">
                    <div class="btn-group">
                      
      
                        <%= link_to like_pick_path(pick), method: :put, class: "btn btn-success btn-sm" do %>
                          <i class="fa fa-thumbs-up"></i>
                          
                          <%= pick.get_upvotes.size %>
                        <% end %>
                        <%= link_to dislike_pick_path(pick), method: :put, class: "btn btn-danger btn-sm" do %>
                          <i class="fa fa-thumbs-down"></i>
                          
                          <%= pick.get_downvotes.size %>
                          
                        <% end %>
                        
                        
                        <%= link_to 'Comment', pick , class: "btn btn-primary btn-sm" %>
        
                    </div>
                  </div>
                     
                     
        
         
        
        <%= content_tag(:div, class: 'text-right') do %>  
            <% if pick.user == current_user %>

                <%= link_to edit_pick_path(pick) do %>
                <i class="fa fa-pencil"></i>
                <% end %>
                
                <%= link_to pick, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash"></i>
                <% end %>
        
            <% end %>
        <% end %>
            
        
        
    <% end %>
      
  <% end %>
  



  
        <% else %>
           <%= link_to "Create your profile", new_user_profile_path(current_user) if current_user %>
        <% end %>
          
   <% else %>

    <!-- If the user is not signed in, we show signup links and everything below 
    -->
<body div class="hello">
    
    <div class="move-up">
        <div class="inline">
                <div class="col-md-8 col-md-offset-2 text-center">
                    
                    <div class="main-line"><span>TAP</span> INTO THE <span>PULSE</span> OF THE BEST <span>FANTASY PICKS</span></div>
                    
                    <span style="font-family: 'lato', sans-serif;font-size: 25px;color: black;">Find out what real drafters are saying about</br> your fantasy picks right now</span></br></br>
                    <%= link_to "SIGN UP", "#", class: 'btn btn-default styler' %> </br>
                    
                    
                 
                </div>
        </div>
    </div>

<!--
<h2>REAL TIME INSIGHTS</h1>
<p>See what teams and players are trending</p>

<h2>COLLABORATE AND WIN</h2>
<p>The future of drafting is social. Connect with other active drafties before making your next trade. Find and follow the pros.</p>

<h2>GET IT ON THE GO MOBILE FRIENDLY</h2>
-->
    <% end %>
</div>


    