<div class="container">
<p id="notice"><%= notice %></p>
</div>

<h1><%= @pick.category.team %></h1>

<p>
  <strong>Player:</strong>
  <%= @pick.player %>
</p>

<p>
  <strong>Idea:</strong>
  <%= @pick.idea %>
</p>

<%= link_to 'Edit', edit_pick_path(@pick) %> |
<%= link_to 'Back', picks_path %>
