<!DOCTYPE html>
<html>
<head>
  <title>Birdie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen:300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class='container'>
      <div class="navbar-header" style="padding-top: 2px;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        
          <%= link_to image_tag('logo.jpg'), root_path %>
          
          
        
        
      </div>
      
      
 
      
    
      <div class="collapse navbar-collapse" id="main-nav-collapse">
        
        
        <ul class="nav navbar-nav navbar-right">
          
          <% if current_user %>
            <li><%= link_to "Sign Out",  destroy_user_session_path, method: :delete, class: "sign-out" %></li>
           <% else %>
             <li><%= link_to "Join",  new_user_registration_path, {:style=> "color: white;font-size: 15px;border: 1px solid black; background: rgba(0,0,0,0); padding: 10px 25px 10px 25px;text-decoration: none;margin-top: 10px;"}  %></li>
             <li><%= link_to "Sign In", new_user_session_path,  {:style=> "color:black; font-size:15px;padding: 10px 20px 10px 20px; margin-top: 10px;"} %> </li>
          <% end %>
           
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
  </nav>
  
  
  
  
  
  
  <div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>
</div>

</body>
</html>
